# Python / Django
**/.venv/
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Variables de entorno
.env
.env.*

# Base de datos local
db.sqlite3
*.sqlite3

# Django media/static generados
media/
staticfiles/

# Node / React / Vite
**/node_modules/
node_modules/
dist/
build/
.vite/

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db
