# Python / Django
**/.venv/
.venv/
venv/
env/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Base de datos local
db.sqlite3
*.sqlite3

# Variables de entorno
.env
.env.*

# Django
media/
staticfiles/

# Frontend
node_modules/
**/node_modules/
dist/
build/
.vite/

# IDE
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db
